<main>
  <div class='container py-4'>
    <h1><%= @user.email %>'s Dashboard</h1>
    <h2>Your ToDo List</h2>

    <%= link_to 'My Tasks', todos_path(only_my_assignments: true), class: 'btn btn-secondary mb-2' %>
    <%= link_to 'All Tasks', todos_path, class: 'btn btn-secondary mb-2' %>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Assignee</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% @todos.each do |todo| %>
          <tr class="clickable-row" data-href="<%= todo_path(todo) %>">
            <td><%= todo.title %></td>
            <td><%= todo.description %></td>
            <td><%= todo.assignee&.email || 'None' %></td>
            <td><%= todo.deadline || 'No deadline' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
<%= render 'layouts/footer' %>
